<p id="userStatus"> </p> <button id="checkButton"> перевырити статус користувача</button>

<form id="loginForm">
    <!-- важливо вказати тип авторизації -->
    <input type="hidden" name="Grant_type" value="password" />
    <input type="email" name="Username" placeholder="Введіть E-mail"/>
    <input type="password" name="Password" id="Password"  placeholder="Введіть пароль"/> 
    <input type="button" id="loginSubmit" value="Увійти" />
</form>



<script src="~/Scripts/Login.js" defer></script>